#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bs-light);
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  overflow: scroll;
}

.section .lead {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

/* Chrome, Safari, Edge (WebKit / Blink) */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@media screen and (min-width: 768px) {
  .section {
    align-items: flex-start;
    padding: 2rem;
  }
}
